/* Each of these pages should have versions for 3 different screen sizes: 

- mobile: up to 768px
- tablet: up to 1024px
- desktop: from 1024px */

@media (min-width: 768px) { 
    body nav {
         flex-direction: row;
         height: 100px;
     }

     body nav div,
     body nav div span {
        align-self: center;
        padding-top: 0;
     }

     body nav img {
         padding-left: 0.5em;
     }

}

@media (min-width: 1024px) {
    body nav div li span {
        display: inline;
    }

    body nav div li a:hover {
        text-decoration: none;
    }

    body footer div.large-footer {
        display: block;
    }
}