body {
    font-family:'Acumin Pro';
}

body nav {
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    color: var(--primary-gray);
    padding-top: 0.5em;
}

body nav img {
    width: 100px;
}

body nav div:first-child {
    display: flex;
    font-size: 2em;
    text-shadow: 2px 2px var(--primary-purple);
    justify-content: center;
}

body nav div span {
    padding-top: 0.3em;
    padding-left: 0.5em;
}

body nav div ul {
    display: flex;
    justify-content: center;
    margin: 0.5em;
}

body nav div li a {
    justify-content: space-between;
    text-decoration: none;
    padding: 0.5em 1.6em;
    color: white;
    

}

body nav div span:hover {
    cursor: pointer;
    color: var(--primary-gray);  
}

body nav div li a:hover {
    color: var(--primary-gray); 
}

body nav div li span {
    display: none;
}

